.dashboard-container {
  text-align: center;
  padding: 50px;
  background-color: purple;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.dashboard-container p {
  font-size: 1.2rem;
}
.mainwraper {
  display: flex;
}
